h1,
h2,
h3 {
  font-weight: normal;
}

/**
  * Footnote styling
  */

span.footnote {
  position: absolute;
  bottom: 3em;
}

span.footnote-dot:before {
  content: '* ';
}

span.footnote-dot {
  color: #fa0000;
}

ul.footnote-list {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
  position: absolute;
  bottom: 3em;
}

ul.footnote-list>li:before {
  content: '*';
}

ul.footnote-list>li {
  color: #fa0000;
}
/**
 * Custom blockqoute CSS
 * Credit to: https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/
 */

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}
